@font-face {
  font-family: Rubik-Regular;
  src: url(/fontes/Rubik/static/Rubik-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Rubik-Medium;
  src: url(/fontes/Rubik/static/Rubik-Medium.ttf) format(truetype);
}
@font-face {
  font-family: Rubik-Regular;
  src: url(/fontes/Rubik/static/Rubik-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Rubik-Medium;
  src: url(fontes/Rubik/static/Rubik-Medium.ttf) format(truetype);
}
@font-face {
  font-family: Rubik-Bold;
  src: url(fontes/Rubik/static/Rubik-Bold.ttf) format(truetype);
}
@font-face {
  font-family: Rambla-Regular;
  src: url(fontes/Rambla/Rambla-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Karla-Regular;
  src: url(fontes/Karla/static/Karla-Regular.ttf) format(truetype);
}
body * {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
header {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  background: #999;
  width: 100%;
  height: 91%;
}
.conteudoheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10vh;
  width: 95vw;
  background-color: blue;
  height: 100%;
}
.conteudoheader2 {
  width: 95vw;
  height: 100%;
}
.textosheader {
  width: 35%;
  background-color: white;
  height: 31.5%;
  flex-shrink: 0;
  position: relative;
  top: 169px;
}
.titulo {
  color: #000;
  font-family: Rubik-Bold;
  font-size: 7.923vh;
  font-style: normal;
  font-weight: 700;
  line-height: 9.923vh;
  width: 100%;
  background-color: blueviolet;
  height: 70%;
  text-transform: uppercase;
}
.subtexto {
  color: #000;
  font-family: Rambla-Regular;
  font-size: 2.9vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: crimson;
  width: 90%;
  height: 11.505%;
  flex-shrink: 0;
}
.imagensheader {
  width: 35.05vw;
  height: 65.52%;
  background-color: greenyellow;
  flex-shrink: 0;
  left: 64.037vw;
  top: 15vh;
  position: absolute;
}
.estilograficologin {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.conteudocadastro {
  width: 35.05vw;
  height: 60vh;
  left: 60.76vw;
  bottom: 22vh;
  flex-shrink: 0;
  position: relative;
}
.estilotextologin {
  width: 12.28vw;
  height: 100%;
  flex-shrink: 0;
}
.Recomendalogin {
  width: 2vw;
  height: 45vh;
  color: #FFF;
  background-color: #000;
  font-family: Rubik-Medium;
  font-size: 4.32vh;
  font-style: normal;
  font-weight: 700;
  left: 2vw;
  top: 6vh;
  position: relative;
  flex-shrink: 0;
}
.Bookslogin {
  width: 2vw;
  height: 24.4vh;
  background-color: #000;
  flex-shrink: 0;
  position: absolute;
  left: 8.5vw;
  top: 30vh;
  color: #FFF;
  font-family: Rubik-Medium;
  font-size: 4.32vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.textocadastro{
  background-color: yellow;

}
.login {
  width: 174px;
  height: 36px;
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Rubik-Bold;
  font-size: 29px;
  position: relative;
  left: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.caixa {
  width: 279px;
  height: 39px;
  background: #F5F6F8;
  position: relative;
  left: 75px;
  top: 50px;
}
.caixa2 {
  width: 279px;
  height: 39px;
  background: #F5F6F8;
  position: relative;
  left: 75px;
  top: 130px;
}
.Usuario {
  display: flex;
  width: 279px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ACACAE;
  text-align: center;
  font-family: Rambla-Regular;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Senha {
  display: flex;
  width: 279px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ACACAE;
  text-align: center;
  font-family: Rambla-Regular;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Cadastro {
  display: flex;
  width: 300px;
  height: 23px;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  position: relative;
  left: 40px;
  top: 130px;
  font-family: Rambla-Regular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.CrieUma {
  color: #0067B8;
  text-decoration: none;
  font-family: Rambla-Regular;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.botaologin {
  width: 119px;
  height: 53px;
  flex-shrink: 0;
}
.botao{
  width: 119px;
  height: 52.889px;
  flex-shrink: 0;
  position: absolute;
  left: 146px;
  top: 464px;
}
.txtbotaologin {
  display: flex;
  width: 119px;
  height: 53px;
  position: relative;
  border-radius: 25.5px;
  align-items: center;
  background: #FF971D;
  justify-content: center;
  color: #FFF;
  text-align: center;
  font-family: Rubik-Bold;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
}
button:hover {
  opacity: 0.85;
}
footer {
  display: inline-flex;
  height: 10%;
  padding: 31px 181px 25px 183px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  background: #FF971D;
}
.conteudofooter{
  width: 1076px;
  height: 24px;
  top: 31px;
  left: 183px;
}
.preptitulo {
  display: inline-flex;
  align-items: flex-start;
  gap: 329px;
  width: Hug (1076px);
  height: Hug (24px);
  top: 31px;
  left: 663px;
}
.quadrofooter {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: Hug (1076px);
  height: Hug (24px);
}
.grupotextofooter {
  width: 1076px;
  height: 24px;
}
.navegacaofooter {
  width: 1076px;
  height: 24px;
  gap: 60px;
  position: absolute;
  flex-shrink: 0;
  text-decoration: none;
  color: #fff;
  font-family: Rubik-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.titulofooter{
  color: #FFF;
  font-family: Rubik-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  position: relative;
  left: 345px;
  line-height: normal;
}
.Recomenda {
  color: #FFF;
  font-family: Rubik-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.PaginaInicial {
  text-decoration: none;
  color: #fff;
  font-family: Rubik-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Sobre {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 100px;
  color: #FFF;
  font-family: Rubik-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
